body{
    font-family: Rubik,sans-serif;
    background-color: #1A1A1D;
    padding: 0;
    margin: 0;
    position: relative;
}
.sign-in{
    position: absolute;
    background-color: rgba(50,50,50,0.5);
    backdrop-filter: blur(10px);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.4s, z-index 0.4s, transform 0.4s;
}
.open-sign-in{
    transform: scale(1);
    opacity: 1;
    z-index: 9;
}
.sign-box{
    position: absolute;
    background-color: rgba(50,50,50,0.6);
    backdrop-filter: blur(5px);
    left: 40%;
    right:35%;
    top:7%;
    height: 416px;
    border-radius: 14px;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.4s, z-index 0.4s, transform 0.4s;
}
.open-sign-box{
    transform: scale(1);
    opacity: 1;
    z-index: 10;
}

.sign-box div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.close{
    display: flex;
    justify-content: right !important;
    width: 100%;
}
.cross{
    margin-right: 8px;
    margin-top: 12px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
.hello-s{
    color: white;
    margin-top:20px;
    font-weight: 500;
}
.welcome-s{
    color: white;
    margin-top: 8px;
    font-weight: 500;
}
.username{
    margin-top: 16px;
    width:60%;
    height: 28px;
    border-radius: 6px;
}
.username::placeholder{
    padding: 4px 4px;
}
.forgot{
    justify-content: right !important;
}
.f-p{
    color: white;
    margin-top: 4px;
    margin-right: 62px;
    font-size: 10px;
}
.sign-button{
    color: black;
    margin-top: 22px;
    width:60%;
    height: 32px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    background-color: white;
}
.continue{
    color: white;
    margin-top: 12px;
    margin-right: 62px;
    font-size: 10px;
    margin-left: 54px;
}
.social{
    justify-content: space-between !important;
    margin-top:20px;
}
.social img{
    height:16px;
    padding: 4px 6px ;
}
.social button{
    border-radius: 5px;
}
.b-1{
    margin-left: 50px;
}
.b-3{
    margin-right: 50px;
}
.s-l{
    color: white;
    margin-top: 18px;
    margin-right: 10px;
    font-size: 10px;
}
/*THE NAV BAR*/

.header{
    display: flex;
    align-items: center;
    background-color: rgba(50,50,50,0.5);
    backdrop-filter: blur(10px);
    border-radius:10px;
    position: fixed;
    top:20px;
    left: 20px;
    right:20px;
    height: 60px;
    z-index:2;
    border: 1px #ffdb58;
    border-style: solid;

}
.fed{
    font-family: Rubik, sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 600 ;
    margin-left: 20px;
    
    
}
.logo{
    display: flex;
    align-items: center;
    flex: 2;
    margin-left: 16px;
}
.menu{
    display: flex;
    align-items: center;
    color:white;
    flex:1;
    justify-content: right;
}
.menu span{
    margin-right:50px;
    cursor:pointer;
    position: relative;
    transition: font-size 0.3s;
}
.menu span:after{
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition:0.3s; 

}
.menu span:hover:after{
    width: 100%;
}
.menu span:hover{
    font-size:110% ;
}


/*THE CAROUSEL*/
.carousel{
    padding: 0;
    margin-left: 0;
    max-width: 60%;
    flex:1;
    
    
}
.slide-wrap{
    position: relative;
    max-width: 100%;
    
    margin: 0;
}
.slider{
    display: flex;
    aspect-ratio: 18/16;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%,0%,0%,0.25);
    border-radius: 0.5rem;
}
.slider img{
    flex:1 0 100%;
    object-fit: cover;
    scroll-snap-align: start ;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

/* THE TEXT AND BUTTON BESIDE THE CAROUSEL*/
.middle{
    display:flex ;
    max-width: 100%;
}
.middle-text{
    flex:1;
    position: relative;

}
.f-line{
    font-size: 64px;
    color: white;
    font-weight: 600;
    position: relative;
    left:100px;
    top: 120px;
    width: 10px;
    
}
.s-line{
    position: relative;
    left:100px;
    top: 180px;
    width: 250px;
    line-height: 32px;
    font-weight: 600;
    color: white;
    font-size: 26px;
}
.s-line span{
    color: rgb(255, 153, 5);
}
.m-button{
    position: absolute;
    left: 280px;
    bottom: 120px;
    width: 250p;
    background-color: rgb(255, 153, 5);
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px 10px;
    cursor:pointer;
    transition: filter 0.3s;
}
.m-button:hover{
    filter: invert(100%);
}

/*THE TEXT BELOW CAROUSEL*/

.last{
    position: relative;
    height:600px;
}
.l-line-1{
    position: absolute;
    font-size: 64px;
    font-weight: 600;
    color: white;
    left: 43%;
    top: 10%;
    z-index: 1;
}
.l-line-2{
    position: absolute;
    font-weight: 600;
    color: white;
    font-size: 26px;
    left:37%;
    top:25%;
    z-index: 1;
}

/* THE BACKGROUND BOXES*/

.b-box{
    position: absolute;
    background-color: rgb(50,50,50);
    height: 200px;
    width: 140px;
    border-radius: 12px;
    left: 64%;
    top:18%;
    transform: rotate(-17deg);
}
.b-box-2{
    display: flex;
    position: absolute;
    background-color: rgb(50,50,50);
    height: 200px;
    width: 310px;
    border-radius: 12px;
    padding: 8px;
    transform: rotate(-12deg);
    left:30%;
    top:50%;
}
.b-img{
    flex:1;
    object-fit: cover;
    max-width:50%;
    margin-right: 12px;
    border-radius: 10px;
}
.b-text{
    flex:1;
    margin-top: 8px;
    color:white;
    margin-right: 10px;
}

/*THE END MENU*/

.end{
    background-color: rgba(50,50,50,0.5);
    backdrop-filter: blur(10px);
    z-index: 5;
}

.end div{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-logo{
    margin-top: 80px;
}

.end-menu{
    display: flex;
    justify-content: center;
}
.end-menu span{
    margin-right: 40px;
    color: white;
    cursor: pointer;
}

.end-social{
    display: flex;
    justify-content: center;
}
.end-social button{
    margin-right: 20px;
    border-radius:50px;
    padding: 6px 8px;
    background-color: rgb(255, 153, 5);
    border: none;
    cursor: pointer;

}

.end-copy{
    color:white;
}
